.parent {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
}

.light {
    background: var(--light-mode-background);
    color: var(--light-mode-text);
}

.dark {
    background: var(--dark-mode-background);
    color: var(--dark-mode-text);
}

.info_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


@media (min-width: 640px) {
    .parent {
        width: 620px;
        justify-content: center;
    }

    .info_container {

    }

    .info_flag {
        width: 500px;
    }
}

@media (min-width: 950px) {
    .parent {
        width: 920px;
    }

    .info_container {
        flex-direction: row;
        justify-content: space-evenly;
    }

    .info_flag {
        width: 550px;
    }
}

@media (min-width: 1260px) {
    .parent {
        width: 1240px;
    }

    .info_container {
        justify-content: space-between;
    }

    .info {
        gap: 40px;
    }

    .info_flag {
        width: 650px;
    }
}
