.inputs {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    margin: auto;
    padding: 30px 0;
    gap: 20px;
}

@media (min-width: 640px) {
    .inputs {
        width: 620px;
        flex-direction: row;
    }
}

@media (min-width: 950px) {
    .inputs {
        width: 920px;
    }
}

@media (min-width: 1260px) {
    .inputs {
        width: 1240px;
    }
}