.label {
    display: flex;
    align-items: center;
    background: var(--dark-mode-elements);
    border-radius: 5px;
    padding: 0 4px;
    width: 250px;
}

.light {
    background: var(--light-mode-elements);
    border: mediumpurple;
}

.dark {
    background: var(--dark-mode-elements);
    border-color: var(--dark-mode-elements);
}

.search_icon {
    font-size: 18px;
}

.input {
    padding: 0 2.5%;
    height: 35px;
    width: 100%;
    background: transparent;
    /*background: white;*/
    border-radius: 5px;
    border: transparent;
    color: inherit;
    font-weight: var(--font-medium);
}

@media (min-width: 950px) {
    .label {
        width: 400px;
    }
}